<?xml version="1.0" encoding="utf-8" ?>
<LayoutRoot xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<RootPanel Orientation="Vertical">
		<LayoutPanel Orientation="Horizontal" DockMinHeight="300">
			<LayoutAnchorablePane Id="c9009c81-731c-4186-88f6-15f7d9c98f70" DockWidth="332">
				<LayoutAnchorable CanHide="False" 
								  AutoHideMinWidth="300" 
								  AutoHideMinHeight="300" 
								  Title="Schema View" 
								  IsSelected="True" 
								  ContentId="SchemaTreeView" 
								  CanClose="False" 
								  LastActivationTimeStamp="11/14/2014 11:01:31" />
				<LayoutAnchorable CanHide="False" 
								  AutoHideMinWidth="300" 
								  AutoHideMinHeight="300" 
								  Title="Transformation View" 
								  ContentId="TransformationTreeView" 
								  CanClose="False" 
								  LastActivationTimeStamp="11/14/2014 11:01:30" />
			</LayoutAnchorablePane>
			<LayoutDocumentPane DockWidth="0.668635875402793*"/>
			<LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="335">
				<LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="300" FloatingHeight="937" FloatingLeft="1620" FloatingTop="517">
					<LayoutAnchorablePane FloatingWidth="300" FloatingHeight="937" FloatingLeft="1620" FloatingTop="517">
						<LayoutAnchorable CanHide="False" 
										  AutoHideMinWidth="300" 
										  AutoHideMinHeight="300" 
										  Title="Properties" 
										  IsSelected="True" 
										  ContentId="Properties" 
										  FloatingLeft="1020" 
										  FloatingTop="50" 
										  FloatingWidth="300" 
										  FloatingHeight="517" 
										  CanClose="False" 
										  LastActivationTimeStamp="11/06/2013 14:09:19" 
										  PreviousContainerId="c9009c81-731c-4186-88f6-15f7d9c98f70" 
										  PreviousContainerIndex="4" />
					</LayoutAnchorablePane>
				</LayoutAnchorablePaneGroup>
				<LayoutAnchorablePane DockWidth="288" FloatingWidth="300" FloatingHeight="937" FloatingLeft="1589" FloatingTop="519">
					<LayoutAnchorable CanHide="False" 
									  AutoHideMinWidth="300" 
									  AutoHideMinHeight="300" 
									  Title="Info Pane" 
									  IsSelected="True" 
									  ContentId="InfoPane" 
									  FloatingLeft="1020" 
									  FloatingTop="350" 
									  FloatingWidth="300" 
									  FloatingHeight="517" 
									  CanClose="False" 
									  LastActivationTimeStamp="11/14/2014 11:01:22" 
									  PreviousContainerId="c9009c81-731c-4186-88f6-15f7d9c98f70" 
									  PreviousContainerIndex="5" />
				</LayoutAnchorablePane>
			</LayoutAnchorablePaneGroup>
		</LayoutPanel>
		<LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="190.5" FloatingWidth="300" FloatingHeight="937" FloatingLeft="811" FloatingTop="996">
			<LayoutAnchorablePane Id="0037e152-9994-4406-a331-20c88f4dac01" DockHeight="190.5" FloatingWidth="300" FloatingHeight="937" FloatingLeft="811" FloatingTop="996">
				<LayoutAnchorable CanHide="False" 
								  AutoHideMinWidth="300" 
								  AutoHideMinHeight="300" 
								  Title="Error List" 
								  IsSelected="True" 
								  ContentId="ErrorList" 
								  FloatingLeft="50" 
								  FloatingTop="500" 
								  FloatingWidth="1100" 
								  FloatingHeight="300" 
								  CanClose="False" 
								  LastActivationTimeStamp="11/06/2013 14:09:32" 
								  PreviousContainerId="c9009c81-731c-4186-88f6-15f7d9c98f70" 
								  PreviousContainerIndex="2" />
			</LayoutAnchorablePane>
		</LayoutAnchorablePaneGroup>
	</RootPanel>
	<TopSide />
	<RightSide />
	<LeftSide />
	<BottomSide />
	<FloatingWindows />
	<Hidden>
		<LayoutAnchorable CanHide="False" 
						  AutoHideMinWidth="300" 
						  AutoHideMinHeight="300" 
						  Title="Output" 
						  IsSelected="True" 
						  ContentId="Output" 
						  FloatingLeft="811" 
						  FloatingTop="996" 
						  FloatingWidth="300" 
						  FloatingHeight="937" 
						  CanClose="False" 
						  LastActivationTimeStamp="11/14/2014 11:01:22" 
						  PreviousContainerId="0037e152-9994-4406-a331-20c88f4dac01" 
						  PreviousContainerIndex="1" />
	</Hidden>
</LayoutRoot>